In [1]:
import numpy as np
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

C:\Users\PGDMB13049\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
nba=pd.read_csv("C:\\Users\\PGDMB13049\\Desktop\\Acadgild - Doney\\Machine Learning\\ML-7 KNN\\Assignment\\nba_2013.csv")
data=nba

In [9]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [10]:
nba.shape
nba.describe()
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 109.0+ KB

In [19]:
nba.isnull().sum(axis=0)

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [12]:
nba.columns.values

array(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg',
       'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.',
       'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk',
       'tov', 'pf', 'pts', 'season', 'season_end'], dtype=object)

In [50]:
#Finding the nearest neighbor
from scipy.spatial import distance

#Fill in the NA values in nba_normalized
nba.fillna(0, inplace=True)

In [43]:
import random
import math
from numpy.random import permutation

In [52]:
#Randomly shuffle the index of the nba
random_indices = permutation(nba.index)

#Set cutoff for how many items we want in the test set (in this case 1/3)
test_cutoff = math.floor(len(nba)/3)

#Generate the test set by taking the first 1/3 of the randomly shuffled indices
test = nba.loc[random_indices[1:test_cutoff]]

In [53]:
#Generate the train set with the rest of the data
train = nba.loc[random_indices[test_cutoff:]]

#The columns that weill be making predictions with
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga',
'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']

#the column that we want to predict
y_column = ["pts"]

In [54]:
from sklearn.neighbors import KNeighborsRegressor

#Create the knn model #Look at the 5 closest neighbors
knn = KNeighborsRegressor(n_neighbors=5)

#Fit the model on the training data
knn.fit(train[x_columns], train[y_column])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [60]:
#Prediction of testing data
predicted=knn.predict(test[x_columns])
predicted

array([[3.3400e+01],
       [1.0178e+03],
       [3.3840e+02],
       [9.1300e+02],
       [3.3320e+02],
       [6.1000e+01],
       [1.6000e+00],
       [3.2560e+02],
       [4.0940e+02],
       [1.3358e+03],
       [2.0000e-01],
       [1.0620e+02],
       [2.2320e+02],
       [6.6120e+02],
       [5.7820e+02],
       [3.8640e+02],
       [3.7000e+01],
       [2.8600e+01],
       [7.7480e+02],
       [5.1800e+01],
       [5.3660e+02],
       [1.9940e+02],
       [1.4340e+03],
       [1.0046e+03],
       [3.3320e+02],
       [2.7540e+02],
       [1.7798e+03],
       [3.1400e+02],
       [7.0000e+01],
       [1.0896e+03],
       [8.0420e+02],
       [3.1120e+02],
       [6.0160e+02],
       [8.1760e+02],
       [2.0718e+03],
       [1.0120e+03],
       [8.0600e+01],
       [2.8560e+02],
       [4.4000e+00],
       [2.0000e-01],
       [1.6620e+02],
       [1.9220e+02],
       [4.7020e+02],
       [2.4680e+02],
       [6.3380e+02],
       [4.6380e+02],
       [8.6220e+02],
       [9.7080e+02],
       [7.9560e+02],
       [3.6120e+02],
       [4.3060e+02],
       [1.4440e+03],
       [1.4580e+02],
       [3.1860e+02],
       [3.3800e+02],
       [5.4500e+02],
       [3.4520e+02],
       [2.6400e+01],
       [4.1000e+02],
       [1.1714e+03],
       [6.6140e+02],
       [8.3800e+01],
       [2.1200e+01],
       [1.1514e+03],
       [1.3732e+03],
       [5.5300e+02],
       [5.7060e+02],
       [2.8060e+02],
       [9.5000e+01],
       [1.9560e+02],
       [1.2938e+03],
       [3.9900e+02],
       [5.9480e+02],
       [1.1474e+03],
       [1.9680e+02],
       [4.8060e+02],
       [3.6300e+02],
       [4.1260e+02],
       [2.8940e+02],
       [1.1698e+03],
       [6.8780e+02],
       [9.6000e+00],
       [1.8280e+02],
       [9.6820e+02],
       [1.2290e+03],
       [7.0800e+02],
       [1.3160e+02],
       [1.8400e+01],
       [1.4220e+02],
       [1.2180e+02],
       [1.0214e+03],
       [3.8560e+02],
       [3.1180e+02],
       [1.2280e+02],
       [1.0754e+03],
       [1.6200e+01],
       [6.0840e+02],
       [3.0760e+02],
       [6.2400e+01],
       [6.0260e+02],
       [1.6566e+03],
       [1.0984e+03],
       [5.7820e+02],
       [7.4580e+02],
       [8.3400e+02],
       [1.2280e+02],
       [3.5080e+02],
       [5.3760e+02],
       [5.7000e+02],
       [1.5180e+02],
       [1.4200e+01],
       [9.5000e+01],
       [2.0820e+02],
       [6.5520e+02],
       [3.6340e+02],
       [4.2240e+02],
       [3.4800e+01],
       [7.9200e+01],
       [1.9120e+02],
       [3.6260e+02],
       [4.2800e+01],
       [1.2666e+03],
       [5.9660e+02],
       [8.6000e+00],
       [8.2920e+02],
       [7.1880e+02],
       [9.3540e+02],
       [1.4638e+03],
       [6.2680e+02],
       [7.7600e+02],
       [7.3440e+02],
       [1.1162e+03],
       [5.7300e+02],
       [2.2280e+02],
       [2.2140e+02],
       [1.5420e+02],
       [1.4000e+00],
       [1.9240e+02],
       [8.6000e+01],
       [3.3840e+02],
       [4.8520e+02],
       [2.4220e+02],
       [6.8660e+02],
       [1.8040e+02],
       [1.7020e+02],
       [1.0528e+03],
       [4.0040e+02],
       [2.8060e+02],
       [1.0154e+03],
       [6.4340e+02],
       [7.9140e+02],
       [6.6320e+02],
       [1.1252e+03],
       [5.7820e+02],
       [3.9380e+02],
       [5.5720e+02],
       [8.0080e+02],
       [7.0600e+01],
       [8.1600e+01]])